body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	background-color: #F0F0F0;;
	display: grid;
	grid-template-areas: 	"header"
				"nav"
				"content"
				"footer";
	width: 100%;
	max-width: 800px;
	grid-gap: 5px;
}
header {
	grid-area: header;
}
nav {
	grid-area: nav;
}

main {
	grid-area: content;
}
footer {
	grid-area: footer;
	padding: 1em;
	border-top: solid thin black;
}


section {
	background-color: #FFFFFF;
	padding: 0.5em 1ex;
}
.errors {
	color: #AA0000;
	line-height: 2.5em;
}

.form-group {
	margin-bottom: 15px;
}
.form-group label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
.form-control {
	max-width: 100%;
	width: auto;
	display: block;
	height: 37px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.4375;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
select.dec, option {
	font-size: 18pt;
} 
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight:700
}
.h1,
.h2,
h1,
h2 {
 margin-top:38px
}
.h3,
h3 {
 margin-top:32px
}
.h4,
h4 {
 margin-top:26px
}
.h5,
h5 {
 margin-top:23px
}
.h6,
h6 {
 margin-top:21px
}
.h1,
h1 {
 font-size:34px
}
.h2,
h2 {
 font-size:26px
}
.h3,
h3 {
 font-size:22px
}
.h4,
h4 {
 font-size:18px
}
.h5,
h5 {
 font-size:16px
}
.h6,
h6 {
 font-size:14px
}
/*

select option:hover {
  color: #000; 
  box-shadow: inset 20px 20px #00f;
}
*/
span.extraInfo {
	font-weight: 500;
	display: inline-block;
	font-size: 95%;
}



@media (min-width: 800px) {
	body {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-areas: 	"header header header"
					"nav content content"
					"footer footer footer";
		width: 100%;
		grid-gap: 5px;
	}
	nav {
		grid-area: nav;
		margin: 0 1.5em;
		min-width: 13em;
	}
}
